<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 
      AttendanceDB - MS SQL Server ConnectionString
      Server: .\SQLEXPRESS  or  (localdb)\MSSQLLocalDB  or  your SQL Server instance
      Trusted_Connection=True means Windows Authentication
      
      To use SQL Authentication:
      Server=.\SQLEXPRESS;Database=AttendanceDB;User Id=sa;Password=YourPassword;TrustServerCertificate=True;
    -->
    <add name="AttendanceDB" 
         connectionString="Server=.;Database=AttendanceDB;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
    <add name="FACEIDDB" 
         connectionString="Server=.;Database=FACEIDDB;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>

